@media (max-width: 1070px){
  .header__inner{
    .header__buttons{
      margin: 0 30px;
    }
  }
}

@media (max-width: 1024px){
  .footer__navigation{
    margin-left: 26px;
  }
  .footer__navigation-list:last-child{
    margin-left: 10%;
  }
  .header__inner{
    .header__buttons .btn--blue{
      display: none;
    }
    .header__search-wrapper{
      max-width: 100%;
      margin-left: 30px;
    }
  }
}

@media (max-width: 900px){
  .footer__inner{
    flex-direction: column-reverse;
    align-items: center;
    padding: 38px 0 28px;
  }
  .footer__social-list{
    justify-content: center;
  }
  .footer__form{
    margin-bottom: 15px;
  }
  .footer__navigation{
    margin: 25px 0 30px;
    width: 100%;
  }
  .footer__navigation-list:last-child{
    margin: unset;
  }
  .footer__navigation{
    margin-left: 0;
    display: flex;
    justify-content: space-around;
  }
  .header__menu-btn{
    display: flex;
  }
  .header__inner{
    .header__buttons{
      display: none;
    }
    .header__search-wrapper{
      margin: 0 20px;
    }
    .header__notifications{
      margin-right: 18px;
    }
  }
}

@media (max-width: 768px){
  .header{
    height: 80px;
  }
  .header__inner{
    .header__account{
      display: none;
    }
    .header__menu-btn{
      margin-left: 0;
    }
  }
}

@media (max-width: 650px){
  .header__search-wrapper{
    display: none;
  }
}

@media (max-width: 380px){
  .footer__navigation-item,
  .footer__descr{
    font-size: 14px;
    line-height: 17px;
  }
  .footer__news-title,
  .footer__navigation-title{
    font-size: 16px;
    line-height: 19px;
  }
}